<div class="page-header kz_center">
	<h1>{{projeto.nome}}</h1>
	<h2>Adicionar em : {{obterNomeItemPorTipo()}}</h2>

	<form role="form" name="form" novalidate>
		<div class="form-group">
			<label for="titulo">Título</label>
			<input type="text" class="form-control" id="titulo" name="titulo" 
				placeholder="Digite um t&iacute;tulo para o item..."
				ng-model="item.titulo" maxlength="50" required />
		</div>
		<div class="form-group">
			<label for="descricao">Descrição</label>
			<textarea class="form-control" id="descricao" name="descricao"
				placeholder="Digite uma descri&ccedil;&atilde;o para o item..." 
				rows="4" ng-model="item.descricao" required></textarea>
		</div>
		<div class="form-group">
			<strong>Cor</strong>
			<br />
			<label class="radio-inline">
				<input type="radio" name="cor" id="corWarning" value="warning" ng-model="item.cor" required />
				<span class="label label-warning">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</label>
			<label class="radio-inline">
				<input type="radio" name="cor" id="corSuccess" value="success" ng-model="item.cor" />
				<span class="label label-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</label>
			<label class="radio-inline">
				<input type="radio" name="cor" id="corInfo" value="info" ng-model="item.cor" />
				<span class="label label-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</label>
			<label class="radio-inline">
				<input type="radio" name="cor" id="corDanger" value="danger" ng-model="item.cor" />
				<span class="label label-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</label>
		</div>
		<div class="form-group">
			<br />
			<button type="button" class="btn btn-primary" ng-click="cadastrar(item)" ng-disabled="form.$invalid">
      				Adicionar
      		</button>
     		<a ng-href="#/canvas/{{projetoId}}" class="btn btn-default">
    			<span class="glyphicon glyphicon-chevron-left"></span> Voltar
    		</a>
     	</div>
	</form>
</div>