<div class="page-header kz_center">
	<h1>
		{{projeto.nome}}<br /> <small>{{projeto.descricao}}</small>
	</h1>
</div>

<!-- Big Screens -->
<div class="hidden-xs">
	<table class="kz_width_100 kz_border">
		<tbody>
			<tr>
				<td rowspan="2" class="kz_td kz_width_20">
					<img ng-src="images/parceiros_chave.png" alt="{{ 'PARCEIROS_CHAVE' | translate }}" 
						title="{{ 'PARCEIROS_CHAVE' | translate }}" class="kz_img_position" />
					<h5>
						{{ 'PARCEIROS' | translate }}<br />{{ 'CHAVE' | translate }}
					</h5>
					<a ng-href="#/cadastrar-item-canvas/{{index}}/pc" class="btn btn-primary hidden-print"
						alt="{{ 'ADICIONAR_ITEM' | translate }}" title="{{ 'ADICIONAR_ITEM' | translate }}">
               			&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
              		</a>

					<a href="" data-toggle="modal" data-target="#parceirosChave" class="btn btn-primary hidden-print"
						alt="{{ 'AJUDA' | translate }}" title="{{ 'AJUDA' | translate }}">
						&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;
					</a>
					
					<div ui-sortable="sortableOptions" ng-model="projeto.itens.pc" style="margin-top: 10px;">
						<div ng-repeat="item in projeto.itens.pc" class="alert alert-{{item.cor}} kz_mouse_cursor">
							<p style="text-align : right;">
		      					<a ng-href="#/editar-remover-item-canvas/{{index}}/pc/{{$index}}" class="btn btn-primary hidden-print"
		      						alt="{{ 'EDITAR_REMOVER_ITEM' | translate }}" title="{{ 'EDITAR_REMOVER_ITEM' | translate }}">
			               			&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
			              		</a>
		      				</p>
		      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
		    			</div>
		    		</div>
				</td>
				<td class="kz_td kz_width_20 kz_border">
					<img ng-src="images/atividades_chave.png" alt="{{ 'ATIVIDADES_CHAVE' | translate }}" 
						title="{{ 'ATIVIDADES_CHAVE' | translate }}" class="kz_img_position" />
					<h5>
						{{ 'ATIVIDADES' | translate }}<br />{{ 'CHAVE' | translate }}
					</h5>
					<a ng-href="#/cadastrar-item-canvas/{{index}}/ac" class="btn btn-primary hidden-print"
						alt="{{ 'ADICIONAR_ITEM' | translate }}" title="{{ 'ADICIONAR_ITEM' | translate }}">
               			&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
              		</a>

					<a href="" data-toggle="modal" data-target="#atividadesChave" class="btn btn-primary hidden-print"
						alt="{{ 'AJUDA' | translate }}" title="{{ 'AJUDA' | translate }}"> 
						&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;
					</a>
					
					<div ui-sortable="sortableOptions" ng-model="projeto.itens.ac" style="margin-top: 10px;">
						<div ng-repeat="item in projeto.itens.ac" class="alert alert-{{item.cor}} kz_mouse_cursor">
							<p style="text-align : right;">
		      					<a ng-href="#/editar-remover-item-canvas/{{index}}/ac/{{$index}}" class="btn btn-primary hidden-print"
		      						alt="{{ 'EDITAR_REMOVER_ITEM' | translate }}" title="{{ 'EDITAR_REMOVER_ITEM' | translate }}">
			               			&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
			              		</a>
		      				</p>
		      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
		    			</div>
		    		</div>
				</td>
				<td rowspan="2" class="kz_td kz_width_20 kz_border">
					<img ng-src="images/propostas_valor.png" alt="{{ 'PROPOSTAS_VALOR' | translate }}" 
						title="{{ 'PROPOSTAS_VALOR' | translate }}" class="kz_img_position" />
					<h5>
						{{ 'PROPOSTAS' | translate }}<br />{{ 'DE_VALOR' | translate }}
					</h5>
					<a ng-href="#/cadastrar-item-canvas/{{index}}/pv" class="btn btn-primary hidden-print"
						alt="{{ 'ADICIONAR_ITEM' | translate }}" title="{{ 'ADICIONAR_ITEM' | translate }}">
               			&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
              		</a>
					<a href="" data-toggle="modal" data-target="#propostasValor" class="btn btn-primary hidden-print"
						alt="{{ 'AJUDA' | translate }}" title="{{ 'AJUDA' | translate }}"> 
						&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;
					</a>
					<div ui-sortable="sortableOptions" ng-model="projeto.itens.pv" style="margin-top: 10px;">
						<div ng-repeat="item in projeto.itens.pv" class="alert alert-{{item.cor}} kz_mouse_cursor">
							<p style="text-align : right;">
		      					<a ng-href="#/editar-remover-item-canvas/{{index}}/pv/{{$index}}" class="btn btn-primary hidden-print"
		      						alt="{{ 'EDITAR_REMOVER_ITEM' | translate }}" title="{{ 'EDITAR_REMOVER_ITEM' | translate }}">
			               			&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
			              		</a>
		      				</p>
		      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
		    			</div>
		    		</div>
				</td>
				<td class="kz_td kz_width_20 kz_border">
					<img ng-src="images/relacionamento_clientes.png" alt="{{ 'RELACIONAMENTO_CLIENTES' | translate }}" 
						title="{{ 'RELACIONAMENTO_CLIENTES' | translate }}" class="kz_img_position" />
					<h5>
						{{ 'RELACIONAMENTO' | translate }}<br />{{ 'COM_CLIENTES' | translate }}
					</h5><a ng-href="#/cadastrar-item-canvas/{{index}}/rcl" class="btn btn-primary hidden-print"
						alt="{{ 'ADICIONAR_ITEM' | translate }}" title="{{ 'ADICIONAR_ITEM' | translate }}">
               			&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
              		</a>
					<a href="" data-toggle="modal" data-target="#relacionamentoClientes" class="btn btn-primary hidden-print"
						alt="{{ 'AJUDA' | translate }}" title="{{ 'AJUDA' | translate }}"> 
						&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;
					</a>
					<div ui-sortable="sortableOptions" ng-model="projeto.itens.rcl" style="margin-top: 10px;">
						<div ng-repeat="item in projeto.itens.rcl" class="alert alert-{{item.cor}} kz_mouse_cursor">
							<p style="text-align : right;">
		      					<a ng-href="#/editar-remover-item-canvas/{{index}}/rcl/{{$index}}" class="btn btn-primary hidden-print"
		      						alt="{{ 'EDITAR_REMOVER_ITEM' | translate }}" title="{{ 'EDITAR_REMOVER_ITEM' | translate }}">
			               			&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
			              		</a>
		      				</p>
		      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
		    			</div>
    				</div>
				</td>
				<td rowspan="2" class="kz_td kz_width_20 kz_border">
					<img ng-src="images/segmentos_clientes.png" alt="{{ 'SEGMENTOS_CLIENTES' | translate }}" 
						title="{{ 'SEGMENTOS_CLIENTES' | translate }}" class="kz_img_position" />
					<h5>
						{{ 'SEGMENTOS' | translate }}<br />{{ 'DE_CLIENTES' | translate }}
					</h5>
					<a ng-href="#/cadastrar-item-canvas/{{index}}/sc" class="btn btn-primary hidden-print"
						alt="{{ 'ADICIONAR_ITEM' | translate }}" title="{{ 'ADICIONAR_ITEM' | translate }}">
               			&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
              		</a>

					<a href="" data-toggle="modal" data-target="#segmentosClientes" class="btn btn-primary hidden-print"
						alt="{{ 'AJUDA' | translate }}" title="{{ 'AJUDA' | translate }}"> 
						&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;
					</a>
					
					<div ui-sortable="sortableOptions" ng-model="projeto.itens.sc" style="margin-top: 10px;">
						<div ng-repeat="item in projeto.itens.sc" class="alert alert-{{item.cor}} kz_mouse_cursor">
							<p style="text-align : right;">
		      					<a ng-href="#/editar-remover-item-canvas/{{index}}/sc/{{$index}}" class="btn btn-primary hidden-print"
		      						alt="{{ 'EDITAR_REMOVER_ITEM' | translate }}" title="{{ 'EDITAR_REMOVER_ITEM' | translate }}">
			               			&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
			              		</a>
		      				</p>
		      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
		    			</div>
		    		</div>
				</td>
			</tr>
			<tr>
				<td class="kz_td kz_width_20 kz_border">
					<img ng-src="images/recursos_chave.png" alt="{{ 'RECURSOS_CHAVE' | translate }}" 
						title="{{ 'RECURSOS_CHAVE' | translate }}" class="kz_img_position" />
					<h5>
						{{ 'RECURSOS' | translate }}<br />{{ 'CHAVE' | translate }}
					</h5>
					<a ng-href="#/cadastrar-item-canvas/{{index}}/rc" class="btn btn-primary hidden-print"
						alt="{{ 'ADICIONAR_ITEM' | translate }}" title="{{ 'ADICIONAR_ITEM' | translate }}">
               			&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
              		</a>

					<a href="" data-toggle="modal" data-target="#recursosChave" class="btn btn-primary hidden-print"
						alt="{{ 'AJUDA' | translate }}" title="{{ 'AJUDA' | translate }}"> 
						&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;
					</a>
					
					<div ui-sortable="sortableOptions" ng-model="projeto.itens.rc" style="margin-top: 10px;">
						<div ng-repeat="item in projeto.itens.rc" class="alert alert-{{item.cor}} kz_mouse_cursor">
							<p style="text-align : right;">
		      					<a ng-href="#/editar-remover-item-canvas/{{index}}/rc/{{$index}}" class="btn btn-primary hidden-print"
		      						alt="{{ 'EDITAR_REMOVER_ITEM' | translate }}" title="{{ 'EDITAR_REMOVER_ITEM' | translate }}">
			               			&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
			              		</a>
		      				</p>
		      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
		    			</div>
		    		</div>
				</td>
				<td class="kz_td kz_width_20 kz_border">
					<img ng-src="images/canais.png" alt="{{ 'CANAIS' | translate }}" 
						title="{{ 'CANAIS' | translate }}" class="kz_img_position" />
					<h5>{{ 'CANAIS' | translate }}</h5>
					<a ng-href="#/cadastrar-item-canvas/{{index}}/ca" class="btn btn-primary hidden-print"
						alt="{{ 'ADICIONAR_ITEM' | translate }}" title="{{ 'ADICIONAR_ITEM' | translate }}">
               			&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
              		</a>
					<a href="" data-toggle="modal" data-target="#canais" class="btn btn-primary hidden-print"
						alt="{{ 'AJUDA' | translate }}" title="{{ 'AJUDA' | translate }}"> 
						&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;
					</a>
					<div ui-sortable="sortableOptions" ng-model="projeto.itens.ca" style="margin-top: 10px;">
						<div ng-repeat="item in projeto.itens.ca" class="alert alert-{{item.cor}} kz_mouse_cursor">
							<p style="text-align : right;">
		      					<a ng-href="#/editar-remover-item-canvas/{{index}}/ca/{{$index}}" class="btn btn-primary hidden-print"
		      						alt="{{ 'EDITAR_REMOVER_ITEM' | translate }}" title="{{ 'EDITAR_REMOVER_ITEM' | translate }}">
			               			&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
			              		</a>
		      				</p>
		      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
		    			</div>
		    		</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	<table  class="kz_width_100 kz_border_left kz_border_right kz_border_bottom">
		<tbody>
			<tr>
				<td class="kz_td kz_width_50 kz_border_right">
					<img ng-src="images/estrutura_custo.png" alt="{{ 'ESTRUTURA_CUSTO' | translate }}" 
						title="{{ 'ESTRUTURA_CUSTO' | translate }}" class="kz_img_position" />
					<h5>{{ 'ESTRUTURA_CUSTO' | translate }}</h5>
					<a ng-href="#/cadastrar-item-canvas/{{index}}/ec" class="btn btn-primary hidden-print"
						alt="{{ 'ADICIONAR_ITEM' | translate }}" title="{{ 'ADICIONAR_ITEM' | translate }}">
               			&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
              		</a>
					<a href="" data-toggle="modal" data-target="#estruturaCusto" class="btn btn-primary hidden-print"
						alt="{{ 'AJUDA' | translate }}" title="{{ 'AJUDA' | translate }}"> 
						&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;
					</a>
					<div ui-sortable="sortableOptions" ng-model="projeto.itens.ec" style="margin-top: 10px;">
						<div ng-repeat="item in projeto.itens.ec" class="alert alert-{{item.cor}} kz_mouse_cursor">
							<p style="text-align : right;">
		      					<a ng-href="#/editar-remover-item-canvas/{{index}}/ec/{{$index}}" class="btn btn-primary hidden-print"
		      						alt="{{ 'EDITAR_REMOVER_ITEM' | translate }}" title="{{ 'EDITAR_REMOVER_ITEM' | translate }}">
			               			&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
			              		</a>
		      				</p>
		      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
		    			</div>
		    		</div>
				</td>
				<td class="kz_td kz_width_50">
					<img ng-src="images/fluxo_receita.png" alt="{{ 'FLUXO_RECEITA' | translate }}" 
						title="{{ 'FLUXO_RECEITA' | translate }}" class="kz_img_position" />
					<h5>{{ 'FLUXO_RECEITA' | translate }}</h5>
					<a ng-href="#/cadastrar-item-canvas/{{index}}/fr" class="btn btn-primary hidden-print"
						alt="{{ 'ADICIONAR_ITEM' | translate }}" title="{{ 'ADICIONAR_ITEM' | translate }}">
               			&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;
              		</a>
					<a href="" data-toggle="modal" data-target="#fluxoReceita" class="btn btn-primary hidden-print"
						alt="{{ 'AJUDA' | translate }}" title="{{ 'AJUDA' | translate }}"> 
						&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;
					</a>
					<div ui-sortable="sortableOptions" ng-model="projeto.itens.fr" style="margin-top: 10px;">
						<div ng-repeat="item in projeto.itens.fr" class="alert alert-{{item.cor}} kz_mouse_cursor">
							<p style="text-align : right;">
		      					<a ng-href="#/editar-remover-item-canvas/{{index}}/fr/{{$index}}" class="btn btn-primary hidden-print"
		      						alt="{{ 'EDITAR_REMOVER_ITEM' | translate }}" title="{{ 'EDITAR_REMOVER_ITEM' | translate }}">
			               			&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
			              		</a>
		      				</p>
		      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
		    			</div>
		    		</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Small Screens -->
<div class="visible-xs">
	<div class="row">
		<!-- Parceiros Chave -->
		<div class="col-xs-12 kz_border_top">
			<img ng-src="images/parceiros_chave.png" alt="{{ 'PARCEIROS_CHAVE' | translate }}" 
				title="{{ 'PARCEIROS_CHAVE' | translate }}" class="kz_img_position" />
			<h5>
				{{ 'PARCEIROS' | translate }}<br />{{ 'CHAVE' | translate }}
			</h5>
			<a ng-href="#/cadastrar-item-canvas/{{index}}/pc" class="btn btn-primary hidden-print">
               	<span class="glyphicon glyphicon-plus"></span> {{ 'ADICIONAR' | translate }}
            </a>
			<div ui-sortable="sortableOptions" ng-model="projeto.itens.pc" style="margin-top: 10px;">
				<div ng-repeat="item in projeto.itens.pc" class="alert alert-{{item.cor}} kz_mouse_cursor">
					<p style="text-align : right;">
      					<a ng-href="#/editar-remover-item-canvas/{{index}}/pc/{{$index}}" class="btn btn-primary hidden-print">
			               	<span class="glyphicon glyphicon-pencil"></span> {{ 'EDITAR' | translate }} | 
			               	<span class="glyphicon glyphicon-trash"></span> {{ 'REMOVER' | translate }}
			            </a>
      				</p>
      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
    			</div>
    		</div>
		</div>
	</div>

	<div class="row">
		<!-- Atividades Chave -->
		<div class="col-xs-12 kz_border_top">
			<img ng-src="images/atividades_chave.png" alt="{{ 'ATIVIDADES_CHAVE' | translate }}" 
				title="{{ 'ATIVIDADES_CHAVE' | translate }}" class="kz_img_position" />
			<h5>
				{{ 'ATIVIDADES' | translate }}<br />{{ 'CHAVE' | translate }}
			</h5>
			<a ng-href="#/cadastrar-item-canvas/{{index}}/ac" class="btn btn-primary hidden-print">
               	<span class="glyphicon glyphicon-plus"></span> {{ 'ADICIONAR' | translate }}
            </a>
			<div ui-sortable="sortableOptions" ng-model="projeto.itens.ac" style="margin-top: 10px;">
				<div ng-repeat="item in projeto.itens.ac" class="alert alert-{{item.cor}} kz_mouse_cursor">
					<p style="text-align : right;">
      					<a ng-href="#/editar-remover-item-canvas/{{index}}/ac/{{$index}}" class="btn btn-primary hidden-print">
			               	<span class="glyphicon glyphicon-pencil"></span> {{ 'EDITAR' | translate }} | 
			               	<span class="glyphicon glyphicon-trash"></span> {{ 'REMOVER' | translate }}
			            </a>
      				</p>
      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
    			</div>
    		</div>
		</div>
	</div>

	<div class="row">
		<!-- Recursos Chave -->
		<div class="col-xs-12 kz_border_top">
			<img ng-src="images/recursos_chave.png" alt="{{ 'RECURSOS_CHAVE' | translate }}" 
				title="{{ 'RECURSOS_CHAVE' | translate }}" class="kz_img_position" />
			<h5>
				{{ 'RECURSOS' | translate }}<br />{{ 'CHAVE' | translate }}
			</h5>
			<a ng-href="#/cadastrar-item-canvas/{{index}}/rc" class="btn btn-primary hidden-print">
               	<span class="glyphicon glyphicon-plus"></span> {{ 'ADICIONAR' | translate }}
            </a>
			<div ui-sortable="sortableOptions" ng-model="projeto.itens.rc" style="margin-top: 10px;">
				<div ng-repeat="item in projeto.itens.rc" class="alert alert-{{item.cor}} kz_mouse_cursor">
					<p style="text-align : right;">
      					<a ng-href="#/editar-remover-item-canvas/{{index}}/rc/{{$index}}" class="btn btn-primary hidden-print">
			               	<span class="glyphicon glyphicon-pencil"></span> {{ 'EDITAR' | translate }} | 
			               	<span class="glyphicon glyphicon-trash"></span> {{ 'REMOVER' | translate }}
			            </a>
      				</p>
      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
    			</div>
    		</div>
		</div>
	</div>

	<div class="row">
		<!-- Propostas de Valor -->
		<div class="col-xs-12 kz_border_top">
			<img ng-src="images/propostas_valor.png" alt="{{ 'PROPOSTAS_VALOR' | translate }}" 
				title="{{ 'PROPOSTAS_VALOR' | translate }}" class="kz_img_position" />
			<h5>
				{{ 'PROPOSTAS' | translate }}<br />{{ 'DE_VALOR' | translate }}
			</h5>
			<a ng-href="#/cadastrar-item-canvas/{{index}}/pv" class="btn btn-primary hidden-print">
               	<span class="glyphicon glyphicon-plus"></span> {{ 'ADICIONAR' | translate }}
            </a>
			<div ui-sortable="sortableOptions" ng-model="projeto.itens.pv" style="margin-top: 10px;">
				<div ng-repeat="item in projeto.itens.pv" class="alert alert-{{item.cor}} kz_mouse_cursor">
					<p style="text-align : right;">
      					<a ng-href="#/editar-remover-item-canvas/{{index}}/pv/{{$index}}" class="btn btn-primary hidden-print">
			               	<span class="glyphicon glyphicon-pencil"></span> {{ 'EDITAR' | translate }} | 
			               	<span class="glyphicon glyphicon-trash"></span> {{ 'REMOVER' | translate }}
			            </a>
      				</p>
      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
    			</div>
    		</div>
		</div>
	</div>

	<div class="row">
		<!-- Relacionamento com os Clientes -->
		<div class="col-xs-12 kz_border_top">
			<img ng-src="images/relacionamento_clientes.png" alt="{{ 'RELACIONAMENTO_CLIENTES' | translate }}" 
				title="{{ 'RELACIONAMENTO_CLIENTES' | translate }}" class="kz_img_position" />
			<h5>
				{{ 'RELACIONAMENTO' | translate }}<br />{{ 'COM_CLIENTES' | translate }}
			</h5>
			<a ng-href="#/cadastrar-item-canvas/{{index}}/rcl" class="btn btn-primary hidden-print">
               	<span class="glyphicon glyphicon-plus"></span> {{ 'ADICIONAR' | translate }}
            </a>
			<div ui-sortable="sortableOptions" ng-model="projeto.itens.rcl" style="margin-top: 10px;">
				<div ng-repeat="item in projeto.itens.rcl" class="alert alert-{{item.cor}} kz_mouse_cursor">
					<p style="text-align : right;">
      					<a ng-href="#/editar-remover-item-canvas/{{index}}/rcl/{{$index}}" class="btn btn-primary hidden-print">
			               	<span class="glyphicon glyphicon-pencil"></span> {{ 'EDITAR' | translate }} | 
			               	<span class="glyphicon glyphicon-trash"></span> {{ 'REMOVER' | translate }}
			            </a>
      				</p>
      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
    			</div>
  			</div>
		</div>
	</div>
	
	<div class="row">
		<!-- Canais -->
		<div class="col-xs-12 kz_border_top">
			<img ng-src="images/canais.png" alt="{{ 'CANAIS' | translate }}" 
				title="{{ 'CANAIS' | translate }}" class="kz_img_position" />
			<h5>{{ 'CANAIS' | translate }}</h5>
			<a ng-href="#/cadastrar-item-canvas/{{index}}/ca" class="btn btn-primary hidden-print">
               	<span class="glyphicon glyphicon-plus"></span> {{ 'ADICIONAR' | translate }}
            </a>
			<div ui-sortable="sortableOptions" ng-model="projeto.itens.ca" style="margin-top: 10px;">
				<div ng-repeat="item in projeto.itens.ca" class="alert alert-{{item.cor}} kz_mouse_cursor">
					<p style="text-align : right;">
      					<a ng-href="#/editar-remover-item-canvas/{{index}}/ca/{{$index}}" class="btn btn-primary hidden-print">
			               	<span class="glyphicon glyphicon-pencil"></span> {{ 'EDITAR' | translate }} | 
			               	<span class="glyphicon glyphicon-trash"></span> {{ 'REMOVER' | translate }}
			            </a>
      				</p>
      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
    			</div>
    		</div>
		</div>
	</div>

	<div class="row">
		<!-- Segmentos de Clientes -->
		<div class="col-xs-12 kz_border_top">
			<img ng-src="images/segmentos_clientes.png" alt="{{ 'SEGMENTOS_CLIENTES' | translate }}" 
				title="{{ 'SEGMENTOS_CLIENTES' | translate }}" class="kz_img_position" />
			<h5>
				{{ 'SEGMENTOS' | translate }}<br />{{ 'DE_CLIENTES' | translate }}
			</h5>
			<a ng-href="#/cadastrar-item-canvas/{{index}}/sc" class="btn btn-primary hidden-print">
               	<span class="glyphicon glyphicon-plus"></span> {{ 'ADICIONAR' | translate }}
            </a>
			<div ui-sortable="sortableOptions" ng-model="projeto.itens.sc" style="margin-top: 10px;">
				<div ng-repeat="item in projeto.itens.sc" class="alert alert-{{item.cor}} kz_mouse_cursor">
					<p style="text-align : right;">
      					<a ng-href="#/editar-remover-item-canvas/{{index}}/sc/{{$index}}" class="btn btn-primary hidden-print">
			               	<span class="glyphicon glyphicon-pencil"></span> {{ 'EDITAR' | translate }} | 
			               	<span class="glyphicon glyphicon-trash"></span> {{ 'REMOVER' | translate }}
			            </a>
      				</p>
      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
    			</div>
    		</div>
		</div>
	</div>

	<div class="row">
		<!-- Estrutura de Custo -->
		<div class="col-xs-12 kz_border_top">
			<img ng-src="images/estrutura_custo.png" alt="{{ 'ESTRUTURA_CUSTO' | translate }}" 
				title="{{ 'ESTRUTURA_CUSTO' | translate }}" class="kz_img_position" />
			<h5>{{ 'ESTRUTURA_CUSTO' | translate }}</h5>
			<a ng-href="#/cadastrar-item-canvas/{{index}}/ec" class="btn btn-primary hidden-print">
               	<span class="glyphicon glyphicon-plus"></span> {{ 'ADICIONAR' | translate }}
            </a>
			<div ui-sortable="sortableOptions" ng-model="projeto.itens.ec" style="margin-top: 10px;">
				<div ng-repeat="item in projeto.itens.ec" class="alert alert-{{item.cor}} kz_mouse_cursor">
					<p style="text-align : right;">
      					<a ng-href="#/editar-remover-item-canvas/{{index}}/ec/{{$index}}" class="btn btn-primary hidden-print">
			               	<span class="glyphicon glyphicon-pencil"></span> {{ 'EDITAR' | translate }} | 
			               	<span class="glyphicon glyphicon-trash"></span> {{ 'REMOVER' | translate }}
			            </a>
      				</p>
      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
    			</div>
    		</div>
		</div>
	</div>
	
	<div class="row">
		<!-- Fluxo de Receita -->
		<div class="col-xs-12 kz_border_top">
			<img ng-src="images/fluxo_receita.png" alt="{{ 'FLUXO_RECEITA' | translate }}" 
				title="{{ 'FLUXO_RECEITA' | translate }}" class="kz_img_position" />
			<h5>{{ 'FLUXO_RECEITA' | translate }}</h5>
			<a ng-href="#/cadastrar-item-canvas/{{index}}/fr" class="btn btn-primary hidden-print">
               	<span class="glyphicon glyphicon-plus"></span> {{ 'ADICIONAR' | translate }}
            </a>
			<div ui-sortable="sortableOptions" ng-model="projeto.itens.fr" style="margin-top: 10px;">
				<div ng-repeat="item in projeto.itens.fr" class="alert alert-{{item.cor}} kz_mouse_cursor">
					<p style="text-align : right;">
      					<a ng-href="#/editar-remover-item-canvas/{{index}}/fr/{{$index}}" class="btn btn-primary hidden-print">
			               	<span class="glyphicon glyphicon-pencil"></span> {{ 'EDITAR' | translate }} | 
			               	<span class="glyphicon glyphicon-trash"></span> {{ 'REMOVER' | translate }}
			            </a>
      				</p>
      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
    			</div>
    		</div>
		</div>
	</div>
</div>

<!-- Parceiros Chave Modal -->
<div class="modal fade" id="parceirosChave" tabindex="-1" role="dialog"
	aria-labelledby="parceirosChaveLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="parceirosChaveLabel">
					<img src="images/parceiros_chave.png" alt="Parceiros Chave"
						class="kz_img_position" /> Parceiros Chave
				</h4>
			</div>
			<div class="modal-body">
				<h5>Quem s&atilde;o os nossos Parceiros Chave?</h5>  
				<h5>Quem s&atilde;o os nossos Fornecedores Chave?</h5>  
				<h5>Quais Recursos Chave estamos adquirindo de parceiros?</h5>  
				<h5>Quais Atividades Chave os parceiros realizam?</h5>  
				<hr />  
				<strong>MOTIVA&Ccedil;&Otilde;ES PARA PARCERIAS:</strong>   
				<ul class="list-unstyled">
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>
						&nbsp;Otimiza&ccedil;&atilde;o e economia
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>
						&nbsp;Redu&ccedil;&atilde;o de risco e incerteza
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>
						&nbsp;Aquisi&ccedil;&atilde;o de recursos particulares e atividades
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<!-- Atividades Chave Modal -->
<div class="modal fade" id="atividadesChave" tabindex="-1" role="dialog"
	aria-labelledby="atividadesChaveLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="atividadesChaveLabel">
					<img src="images/atividades_chave.png" alt="Atividades Chave"
						class="kz_img_position" /> Atividades Chave
				</h4>
			</div>
			<div class="modal-body">
				<h5>Quais Atividades Chave nossa Proposta de Valor exige?</h5>
				<h5>Nossos Canais de Distribui&ccedil;&atilde;o?</h5>
				<h5>Relacionamento com o Cliente?</h5>
				<h5>Fontes de receita?</h5>
				<hr />
				<strong>CATEGORIAS:</strong> 
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Produção</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Resolu&ccedil;&atilde;o de Problemas</li> 
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Plataforma / Rede</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<!-- Recursos Chave Modal -->
<div class="modal fade" id="recursosChave" tabindex="-1" role="dialog"
	aria-labelledby="recursosChaveLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="recursosChaveLabel">
					<img src="images/recursos_chave.png" alt="Recursos Chave"
						class="kz_img_position" /> Recursos Chave
				</h4>
			</div>
			<div class="modal-body">
				<h5>Quais Recursos Chave nossa Proposta de Valor requer?</h5>
				<h5>Nossos canais de distribui&ccedil;&atilde;o?</h5>
				<h5>Relacionamento com os Clientes?</h5>
				<h5>Fontes de receita?</h5>
				<hr />
				<strong>TIPOS DE RECURSOS:</strong> 
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;F&iacute;sico</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Intelectual (patentes de marcas, direitos autorais, dados)</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Humano</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Financeiro</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<!-- Propostas de Valor Modal -->
<div class="modal fade" id="propostasValor" tabindex="-1" role="dialog"
	aria-labelledby="propostasValorLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="propostasValorLabel">
					<img src="images/propostas_valor.png" alt="Propostas de Valor"
						class="kz_img_position" /> Propostas de Valor
				</h4>
			</div>
			<div class="modal-body">
				<h5>Que valores n&oacute;s entregamos ao cliente?</h5>
				<h5>Quais problemas dos nossos clientes estamos ajudando a resolver?</h5>
				<h5>Quais pacotes de produtos e servi&ccedil;os oferecemos a cada Segmento de Cliente?</h5>
				<h5>Quais necessidades dos clientes estamos satisfazendo?</h5>
				<hr />
				<strong>CARACTER&Iacute;STICAS:</strong>
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Novidade</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Performance</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Personaliza&ccedil;&atilde;o</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;"Realizando os Trabalhos"</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Projeto</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Marca/Status</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Pre&ccedil;o</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Redu&ccedil;&atilde;o de Custo</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Redu&ccedil;&atilde;o de Risco</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Acessibilidade</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Conveni&ecirc;ncia/Usabilidade</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<!-- Relacionamento com os Clientes Modal -->
<div class="modal fade" id="relacionamentoClientes" tabindex="-1"
	role="dialog" aria-labelledby="relacionamentoClientesLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="relacionamentoClientesLabel">
					<img src="images/relacionamento_clientes.png"
						alt="Relacionamento com os Clientes" class="kz_img_position" />
					Relacionamento com os Clientes
				</h4>
			</div>
			<div class="modal-body">
				<h5>Que tipo de relacionamento temos com cada um de nossos Clientes?</h5>
				<h5>O que os segmentos esperam que possamos estabelecer e manter com eles?</h5>
				<h5>Quais deles n&oacute;s temos estabelecidos?</h5>
				<h5>Como eles est&atilde;o integrados com o restante do nosso modelo de neg&oacute;cio?</h5>
				<h5>Quanto caros eles s&atilde;o?</h5>
				<hr />
				<strong>EXEMPLOS:</strong> 
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Assist&ecirc;ncia pessoal</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Assist&ecirc;ncia Pessoal Dedicada</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Self-Service</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Servi&ccedil;os Automatizados</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Comunidades</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Co-cria&ccedil;&atilde;o</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<!-- Canais Modal -->
<div class="modal fade" id="canais" tabindex="-1" role="dialog"
	aria-labelledby="canaisLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="canaisLabel">
					<img src="images/canais.png" alt="Canais" class="kz_img_position" />
					Canais
				</h4>
			</div>
			<div class="modal-body">
				<h5>Atrav&eacute;s de quais canais de nossos Segmentos de Clientes gostar&iacute;amos de atingir?</h5>
				<h5>Como podemos alcan&ccedil;&aacute;-los agora?</h5>
				<h5>Como os nossos Canais est&atilde;o integrados?</h5>
				<h5>Quais funcionam melhor?</h5>
				<h5>Quais tem melhor custo-benef&iacute;cio?</h5>
				<h5>Como estamos integrando-os às rotinas do cliente?</h5>
				<hr />
				<strong>FASES DO CANAL:</strong>
				<ul class="list-unstyled">
					<li>1 - Conscientiza&ccedil;&atilde;o</li>
					<ul class="list-unstyled">
						<li><small>Como podemos aumentar a conscientiza&ccedil;&atilde;o sobre os nossos produtos e servi&ccedil;os?</small></li>
					</ul>		
					<li>2 - Avalia&ccedil;&atilde;o</li>
					<ul class="list-unstyled">
						<li><small>Como podemos ajudar os clientes a avaliar a Proposta de Valor da nossa organiza&ccedil;&atilde;o?</small></li>
					</ul>
					<li>3 - Compra</li>
					<ul class="list-unstyled">
						<li><small>Como podemos permitir que os clientes comprem produtos e servi&ccedil;os espec&iacute;ficos?</small></li>
					</ul>
					<li>4 - Entrega</li>
					<ul class="list-unstyled">
						<li><small>Como entregaremos uma Proposta de Valor para nossos clientes?</small></li>
					</ul>
					<li>5 - P&oacute;s-venda</li>
					<ul class="list-unstyled">
						<li><small>Como podemos oferecer suporte p&oacute;s-venda aos nossos clientes?</small></li>
					</ul>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<!-- Segmento de Clientes Modal -->
<div class="modal fade" id="segmentosClientes" tabindex="-1"
	role="dialog" aria-labelledby="segmentosClientesLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="segmentosClientesLabel">
					<img src="images/segmentos_clientes.png" alt="Segmentos de Clientes" 
						class="kz_img_position" /> 
					Segmentos de Clientes
				</h4>
			</div>
			<div class="modal-body">
				<h5>Para quem estamos criando valor?</h5>
				<h5>Quem s&atilde;o nossos clientes mais importantes?</h5>
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Mercado de massa</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Nicho de mercado</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Segmentado</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Diversificado</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<!-- Estrutura de Custo Modal -->
<div class="modal fade" id="estruturaCusto" tabindex="-1" role="dialog"
	aria-labelledby="estruturaCustoLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="estruturaCustoLabel">
					<img src="images/estrutura_custo.png" alt="Estrutura de Custo"
						class="kz_img_position" /> 
					Estrutura de Custo
				</h4>
			</div>
			<div class="modal-body">
				<h5>Quais s&atilde;o os custos mais importantes inerentes ao nosso modelo de neg&oacute;cio?</h5>
				<h5>Quais s&atilde;o os Recursos Chave mais caros?</h5>
				<h5>Quais s&atilde;o as Atividades Chave mais caras?</h5>
				<hr />
				<strong>SEU NEG&Oacute;CIO &Eacute; MAIS:</strong> 
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Guiado por Custos (estrutura de custo mais enxuta, proposta de valor de baixo pre&ccedil;o, máxima automa&ccedil;&atilde;o, terceiriza&ccedil;&atilde;o extensiva)</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Guiado por Valor (focada na cria&ccedil;&atilde;o de valor, proposta de valor premium)</li>
				</ul>
				<hr />
				<strong>EXEMPLOS DE CARACTER&Iacute;STICAS:</strong>
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Custos Fixos (sal&aacute;rios, alugu&eacute;is, servi&ccedil;os p&uacute;blicos)</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Custos Vari&aacute;veis</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Economias de escala</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Economias de escopo</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<!-- Fluxo de Receita Modal -->
<div class="modal fade" id="fluxoReceita" tabindex="-1" role="dialog"
	aria-labelledby="fluxoReceitaLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="fluxoReceitaLabel">
					<img src="images/fluxo_receita.png" alt="Fluxo de Receita"
						class="kz_img_position" /> 
					Fluxo de Receita
				</h4>
			</div>
			<div class="modal-body">
				<h5>Por quais valores nossos clientes est&atilde;o realmente interessados em pagar?</h5>
				<h5>Por quais eles pagam atualmente?</h5>
				<h5>Como eles est&atilde;o pagando atualmente?</h5>
				<h5>Como eles gostariam de pagar?</h5>
				<h5>Como cada fluxo de receita contribui para a receita global?</h5>
				<hr />
				<strong>TIPOS:</strong> 
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Venda de ativos</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Taxa de utiliza&ccedil;&atilde;o</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Taxas de inscri&ccedil;&atilde;o</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Empr&eacute;stimos / Aluguel / Arrendamento</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Licenciamento</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Taxas de corretagem</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Publicidade</li>
				</ul>
				<hr />
				<strong>PREÇOS FIXOS:</strong> 
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Pre&ccedil;o de tabela</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Produtos dependentes</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Segmentos de Clientes dependentes</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Volumes dependentes</li>
				</ul>
				<hr />
				<strong>PRECIFICAÇÃO DINÂMICA:</strong>
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Negocia&ccedil;&atilde;o (barganha)</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Gest&atilde;o de Rendimentos</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Mercado em Tempo Real</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<div class="row hidden-print">
	<div class="col-xs-12 kz_center">
		<br />
		<a ng-href="#/" class="btn btn-default">
    		<span class="glyphicon glyphicon-chevron-left"></span> {{ 'VOLTAR' | translate }}
    	</a>
    </div>
</div>