language: node_js
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - gem install sass --version "=3.2.12"
  - gem install compass --version "=0.12.2"
node_js:
  - '0.10'
  - '0.8'
before_script:
  - 'npm install -g bower grunt-cli karma'
  - 'bower install'
