<div class="page-header kz_center">
  	<h1>{{ 'CRIAR_NOVO_CANVAS' | translate }}</h1>
</div>
<div class="kz_content">
  <div class="row" ng-show="liteVersion && qtdProjetos > 0">
    <div class="col-xs-12 kz_center">
      <h3>{{ 'VERSAO_LITE_LIMITADA' | translate }}</h3>
      <br />
      <a ng-href="https://play.google.com/store/apps/details?id=com.kazale.kzbmcee" target="_blank" class="btn btn-primary">
        {{ 'ATUALIZAR_VERSAO' | translate }}
      </a>
    </div>
    <div class="col-xs-12 kz_center">
      <br />
      <a ng-href="#/" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span> {{ 'VOLTAR' | translate }}
      </a>
    </div>
  </div>

	<div class="row" ng-show="!liteVersion || qtdProjetos < 1">
		<div class="col-xs-12 kz_center">
      		<form role="form" name="form" novalidate>
        		<div class="form-group">
    				<label for="nome" class="control-label">{{ 'NOME_DO_PROJETO' | translate }}</label>
    				<input type="text" class="form-control" id="nome" name="nome" 
    					maxlength="50" ng-model="canvas.nome" 
    					placeholder="{{ 'DIGITE_NOME_PROJETO' | translate }}" required />
  				</div>
  				<div class="form-group">
    				<label for="descricao" class="control-label">{{ 'BREVE_DESCRICAO' | translate }}</label>
    				<input type="text" class="form-control" id="descricao" name="descricao" 
    					maxlength="50" ng-model="canvas.descricao" 
    					placeholder="{{ 'DIGITE_BREVE_DESCRICAO_PROJETO' | translate }}" required />
  				</div>
  				<div class="form-group">
  					<button type="button" class="btn btn-primary" data-dismiss="modal" 
      					ng-click="cadastrar(canvas)" ng-disabled="form.$invalid">
      					{{ 'CRIAR' | translate }}
      			</button>
  					<a ng-href="#/" class="btn btn-default">
              <span class="glyphicon glyphicon-chevron-left"></span> {{ 'VOLTAR' | translate }}
            </a>
  				</div>
        	</form>
		</div>
	</div>
</div>