<div class="page-header kz_center">
  	<h1>{{ 'EDITAR_CANVAS' | translate }}</h1>
</div>
<div class="kz_content">
	<div class="row">
		<div class="col-xs-12 kz_center">
      		<form role="form" name="form" novalidate>
        		<div class="form-group">
    				<label for="nome" class="control-label">{{ 'NOME_DO_PROJETO' | translate }}</label>
            <input type="text" class="form-control" id="nome" name="nome" 
                maxlength="50" ng-model="canvasEditar.nome"
                placeholder="{{ 'DIGITE_NOME_PROJETO' | translate }}" required />
  				</div>
  				<div class="form-group">
    				<label for="descricao" class="control-label">{{ 'BREVE_DESCRICAO' | translate }}</label>
            <input type="text" class="form-control" id="descricao" name="descricao" 
                maxlength="50" ng-model="canvasEditar.descricao" 
                placeholder="{{ 'DIGITE_BREVE_DESCRICAO_PROJETO' | translate }}" required />
  				</div>
  				<div class="form-group">
  					<button type="button" class="btn btn-primary" ng-click="atualizar(canvasEditar)" 
              ng-disabled="form.$invalid">
      					{{ 'ATUALIZAR' | translate }}
      				</button>
  					<a ng-href="#/" class="btn btn-default">
              <span class="glyphicon glyphicon-chevron-left"></span> {{ 'VOLTAR' | translate }}
            </a>
  				</div>
        </form>
		</div>
	</div>
</div>