<div class="page-header kz_center">
	<h1>Ajuda - Atividades Chave</h1>
</div>

<div class="kz_content">
	<div class="row">
		<div class="col-xs-12  kz_center">
        	<h4>Quais Atividades Chave nossa Proposta de Valor exige?</h4>
			<h4>Nossos Canais de Distribui&ccedil;&atilde;o?</h4>
			<h4>Relacionamento com o Cliente?</h4>
			<h4>Fontes de receita?</h4>
			<hr />
			<strong>CATEGORIAS:</strong> 
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Produção</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Resolu&ccedil;&atilde;o de Problemas</li> 
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Plataforma / Rede</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 kz_center">
			<br />
			<a ng-href="#/ajuda" class="btn btn-default">
        		<span class="glyphicon glyphicon-chevron-left"></span> Voltar
        	</a>
        </div>
    </div>
</div>