<div class="page-header kz_center">
	<h1>{{ 'AJUDA' | translate }} - {{ 'CANAIS' | translate }}</h1>
</div>

<div class="kz_content">
	<div class="row">
		<div class="col-xs-12  kz_center">
        	<h4>{{ 'CA_1' | translate }}</h4>
			<h4>{{ 'CA_2' | translate }}</h4>
			<h4>{{ 'CA_3' | translate }}</h4>
			<h4>{{ 'CA_4' | translate }}</h4>
			<h4>{{ 'CA_5' | translate }}</h4>
			<h4>{{ 'CA_6' | translate }}</h4>
			<hr />
			<strong>{{ 'CA_7' | translate }}</strong>
			<ul class="list-unstyled">
				<li>{{ 'CA_8' | translate }}</li>
				<ul class="list-unstyled">
					<li><small>{{ 'CA_9' | translate }}</small></li>
				</ul>		
				<li>{{ 'CA_10' | translate }}</li>
				<ul class="list-unstyled">
					<li><small>{{ 'CA_11' | translate }}</small></li>
				</ul>
				<li>{{ 'CA_12' | translate }}</li>
				<ul class="list-unstyled">
					<li><small>{{ 'CA_13' | translate }}</small></li>
				</ul>
				<li>{{ 'CA_14' | translate }}</li>
				<ul class="list-unstyled">
					<li><small>{{ 'CA_15' | translate }}</small></li>
				</ul>
				<li>{{ 'CA_16' | translate }}</li>
				<ul class="list-unstyled">
					<li><small>{{ 'CA_17' | translate }}</small></li>
				</ul>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 kz_center">
			<br />
			<a ng-href="#/ajuda" class="btn btn-default">
        		<span class="glyphicon glyphicon-chevron-left"></span> {{ 'VOLTAR' | translate }}
        	</a>
        </div>
    </div>
</div>