<div class="page-header kz_center">
	<h1>Ajuda - Canais</h1>
</div>

<div class="kz_content">
	<div class="row">
		<div class="col-xs-12  kz_center">
        	<h4>Atrav&eacute;s de quais canais de nossos Segmentos de Clientes gostar&iacute;amos de atingir?</h4>
			<h4>Como podemos alcan&ccedil;&aacute;-los agora?</h4>
			<h4>Como os nossos Canais est&atilde;o integrados?</h4>
			<h4>Quais funcionam melhor?</h4>
			<h4>Quais tem melhor custo-benef&iacute;cio?</h4>
			<h4>Como estamos integrando-os às rotinas do cliente?</h4>
			<hr />
			<strong>FASES DO CANAL:</strong>
			<ul class="list-unstyled">
				<li>1 - Conscientiza&ccedil;&atilde;o</li>
				<ul class="list-unstyled">
					<li><small>Como podemos aumentar a conscientiza&ccedil;&atilde;o sobre os nossos produtos e servi&ccedil;os?</small></li>
				</ul>		
				<li>2 - Avalia&ccedil;&atilde;o</li>
				<ul class="list-unstyled">
					<li><small>Como podemos ajudar os clientes a avaliar a Proposta de Valor da nossa organiza&ccedil;&atilde;o?</small></li>
				</ul>
				<li>3 - Compra</li>
				<ul class="list-unstyled">
					<li><small>Como podemos permitir que os clientes comprem produtos e servi&ccedil;os espec&iacute;ficos?</small></li>
				</ul>
				<li>4 - Entrega</li>
				<ul class="list-unstyled">
					<li><small>Como entregaremos uma Proposta de Valor para nossos clientes?</small></li>
				</ul>
				<li>5 - P&oacute;s-venda</li>
				<ul class="list-unstyled">
					<li><small>Como podemos oferecer suporte p&oacute;s-venda aos nossos clientes?</small></li>
				</ul>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 kz_center">
			<br />
			<a ng-href="#/ajuda" class="btn btn-default">
        		<span class="glyphicon glyphicon-chevron-left"></span> Voltar
        	</a>
        </div>
    </div>
</div>