<div class="page-header kz_center">
	<h1>Ajuda - Estrutura de Custo</h1>
</div>

<div class="kz_content">
	<div class="row">
		<div class="col-xs-12  kz_center">
        	<h4>Quais s&atilde;o os custos mais importantes inerentes ao nosso modelo de neg&oacute;cio?</h4>
			<h4>Quais s&atilde;o os Recursos Chave mais caros?</h4>
			<h4>Quais s&atilde;o as Atividades Chave mais caras?</h4>
			<hr />
			<strong>SEU NEG&Oacute;CIO &Eacute; MAIS:</strong> 
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Guiado por Custos (estrutura de custo mais enxuta, proposta de valor de baixo pre&ccedil;o, máxima automa&ccedil;&atilde;o, terceiriza&ccedil;&atilde;o extensiva)</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Guiado por Valor (focada na cria&ccedil;&atilde;o de valor, proposta de valor premium)</li>
			</ul>
			<hr />
			<strong>EXEMPLOS DE CARACTER&Iacute;STICAS:</strong>
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Custos Fixos (sal&aacute;rios, alugu&eacute;is, servi&ccedil;os p&uacute;blicos)</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Custos Vari&aacute;veis</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Economias de escala</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Economias de escopo</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 kz_center">
			<br />
			<a ng-href="#/ajuda" class="btn btn-default">
        		<span class="glyphicon glyphicon-chevron-left"></span> Voltar
        	</a>
        </div>
    </div>
</div>