<div class="page-header kz_center">
	<h1>{{ 'AJUDA' | translate }} - {{ 'ESTRUTURA_CUSTO' | translate }}</h1>
</div>

<div class="kz_content">
	<div class="row">
		<div class="col-xs-12  kz_center">
        	<h4>{{ 'EC_1' | translate }}</h4>
			<h4>{{ 'EC_2' | translate }}</h4>
			<h4>{{ 'EC_3' | translate }}</h4>
			<hr />
			<strong>{{ 'EC_4' | translate }}</strong> 
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'EC_5' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'EC_6' | translate }}</li>
			</ul>
			<hr />
			<strong>{{ 'EC_7' | translate }}</strong>
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'EC_8' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'EC_9' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'EC_10' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'EC_11' | translate }}</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 kz_center">
			<br />
			<a ng-href="#/ajuda" class="btn btn-default">
        		<span class="glyphicon glyphicon-chevron-left"></span> {{ 'VOLTAR' | translate }}
        	</a>
        </div>
    </div>
</div>