<div class="page-header kz_center">
	<h1>{{ 'AJUDA' | translate }} - {{ 'FLUXO_RECEITA' | translate }}</h1>
</div>

<div class="kz_content">
	<div class="row">
		<div class="col-xs-12  kz_center">
			<h4>{{ 'FR_1' | translate }}</h4>
			<h4>{{ 'FR_2' | translate }}</h4>
			<h4>{{ 'FR_3' | translate }}</h4>
			<h4>{{ 'FR_4' | translate }}</h4>
			<h4>{{ 'FR_5' | translate }}</h4>
			<hr />
			<strong>{{ 'FR_6' | translate }}</strong> 
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'FR_7' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'FR_8' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'FR_9' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'FR_10' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'FR_11' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'FR_12' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'FR_13' | translate }}</li>
			</ul>
			<hr />
			<strong>{{ 'FR_14' | translate }}</strong> 
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'FR_15' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'FR_16' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'FR_17' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'FR_18' | translate }}</li>
			</ul>
			<hr />
			<strong>{{ 'FR_19' | translate }}</strong>
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'FR_20' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'FR_21' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'FR_22' | translate }}</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 kz_center">
			<br />
			<a ng-href="#/ajuda" class="btn btn-default">
        		<span class="glyphicon glyphicon-chevron-left"></span> {{ 'VOLTAR' | translate }}
        	</a>
        </div>
    </div>
</div>