<div class="page-header kz_center">
	<h1>Ajuda - Fluxo de Receita</h1>
</div>

<div class="kz_content">
	<div class="row">
		<div class="col-xs-12  kz_center">
			<h4>Por quais valores nossos clientes est&atilde;o realmente interessados em pagar?</h4>
			<h4>Por quais eles pagam atualmente?</h4>
			<h4>Como eles est&atilde;o pagando atualmente?</h4>
			<h4>Como eles gostariam de pagar?</h4>
			<h4>Como cada fluxo de receita contribui para a receita global?</h4>
			<hr />
			<strong>TIPOS:</strong> 
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Venda de ativos</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Taxa de utiliza&ccedil;&atilde;o</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Taxas de inscri&ccedil;&atilde;o</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Empr&eacute;stimos / Aluguel / Arrendamento</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Licenciamento</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Taxas de corretagem</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Publicidade</li>
			</ul>
			<hr />
			<strong>PREÇOS FIXOS:</strong> 
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Pre&ccedil;o de tabela</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Produtos dependentes</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Segmentos de Clientes dependentes</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Volumes dependentes</li>
			</ul>
			<hr />
			<strong>PRECIFICAÇÃO DINÂMICA:</strong>
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Negocia&ccedil;&atilde;o (barganha)</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Gest&atilde;o de Rendimentos</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Mercado em Tempo Real</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 kz_center">
			<br />
			<a ng-href="#/ajuda" class="btn btn-default">
        		<span class="glyphicon glyphicon-chevron-left"></span> Voltar
        	</a>
        </div>
    </div>
</div>