<div class="page-header kz_center">
	<h1>Ajuda</h1>
</div>

<div class="kz_content">
	<div class="row">
		<div class="col-xs-12">
			<p>Sugest&atilde;o de ordem do preenchimento do Canvas de Modelo de Neg&oacute;cios.</p>
			<p>Embora n&atilde;o exista uma ordem definida &agrave; ser utilizada para o preenchimento de um 
        	Canvas de Modelo de Neg&oacute;cios, sugerimos a sequencia abaixo, que possui um fluxo 
        	intuitivo de racioc&iacute;nio para o correto preenchimento do Canvas.</p>	
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<a ng-href="#/ajuda/segmentos-clientes" class="btn btn-default btn-block">
				1 - Segmentos de Clientes
			</a>
			<a ng-href="#/ajuda/propostas-valor" class="btn btn-default btn-block">
				2 – Propostas de Valor
			</a>
			<a ng-href="#/ajuda/canais" class="btn btn-default btn-block">
				3 – Canais
			</a>
			<a ng-href="#/ajuda/relacionamento-clientes" class="btn btn-default btn-block">
				4 – Relacionamento com os Clientes
			</a>
			<a ng-href="#/ajuda/recursos-chave" class="btn btn-default btn-block">
				5 – Recursos Chave
			</a>
			<a ng-href="#/ajuda/atividades-chave" class="btn btn-default btn-block">
				6 – Atividades Chave
			</a>
			<a ng-href="#/ajuda/parceiros-chave" class="btn btn-default btn-block">
				7 – Parceiros Chave
			</a>
			<a ng-href="#/ajuda/estrutura-custo" class="btn btn-default btn-block">
				8 – Estrutura de Custo
			</a>
			<a ng-href="#/ajuda/fluxo-receita" class="btn btn-default btn-block">
				9 – Fluxo de Receita
			</a>
		</div>
	</div>
</div>