<div class="page-header kz_center">
	<h1>{{ 'AJUDA' | translate }}</h1>
</div>

<div class="kz_content">
	<div class="row">
		<div class="col-xs-12">
			<p>{{ 'AJUDA_TOPICO_1' | translate }}</p>
			<p>{{ 'AJUDA_TOPICO_2' | translate }}</p>	
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<a ng-href="#/ajuda/segmentos-clientes" class="btn btn-default btn-block">
				1 - {{ 'SEGMENTOS_CLIENTES' | translate }}
			</a>
			<a ng-href="#/ajuda/propostas-valor" class="btn btn-default btn-block">
				2 – {{ 'PROPOSTAS_VALOR' | translate }}
			</a>
			<a ng-href="#/ajuda/canais" class="btn btn-default btn-block">
				3 – {{ 'CANAIS' | translate }}
			</a>
			<a ng-href="#/ajuda/relacionamento-clientes" class="btn btn-default btn-block">
				4 – {{ 'RELACIONAMENTO_CLIENTES' | translate }}
			</a>
			<a ng-href="#/ajuda/recursos-chave" class="btn btn-default btn-block">
				5 – {{ 'RECURSOS_CHAVE' | translate }}
			</a>
			<a ng-href="#/ajuda/atividades-chave" class="btn btn-default btn-block">
				6 – {{ 'ATIVIDADES_CHAVE' | translate }}
			</a>
			<a ng-href="#/ajuda/parceiros-chave" class="btn btn-default btn-block">
				7 – {{ 'PARCEIROS_CHAVE' | translate }}
			</a>
			<a ng-href="#/ajuda/estrutura-custo" class="btn btn-default btn-block">
				8 – {{ 'ESTRUTURA_CUSTO' | translate }}
			</a>
			<a ng-href="#/ajuda/fluxo-receita" class="btn btn-default btn-block">
				9 – {{ 'FLUXO_RECEITA' | translate }}
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 kz_center">
			<br />
			<a ng-href="#/" class="btn btn-default">
        		<span class="glyphicon glyphicon-chevron-left"></span> {{ 'VOLTAR' | translate }}
        	</a>
        </div>
    </div>
</div>