<div class="page-header kz_center">
	<h1>Ajuda - Parceiros Chave</h1>
</div>

<div class="kz_content">
	<div class="row">
		<div class="col-xs-12  kz_center">
			<h4>Quem s&atilde;o os nossos Parceiros Chave?</h4>  
			<h4>Quem s&atilde;o os nossos Fornecedores Chave?</h4>  
			<h4>Quais Recursos Chave estamos adquirindo de parceiros?</h4>  
			<h4>Quais Atividades Chave os parceiros realizam?</h4>  
			<hr />  
			<strong>MOTIVA&Ccedil;&Otilde;ES PARA PARCERIAS:</strong>   
			<ul class="list-unstyled">
				<li>
					<span class="glyphicon glyphicon-star-empty"></span>
					&nbsp;Otimiza&ccedil;&atilde;o e economia
				</li>
				<li>
					<span class="glyphicon glyphicon-star-empty"></span>
					&nbsp;Redu&ccedil;&atilde;o de risco e incerteza
				</li>
				<li>
					<span class="glyphicon glyphicon-star-empty"></span>
					&nbsp;Aquisi&ccedil;&atilde;o de recursos particulares e atividades
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 kz_center">
			<br />
			<a ng-href="#/ajuda" class="btn btn-default">
        		<span class="glyphicon glyphicon-chevron-left"></span> Voltar
        	</a>
        </div>
    </div>
</div>