<div class="page-header kz_center">
	<h1>Ajuda - Propostas de Valor</h1>
</div>

<div class="kz_content">
	<div class="row">
		<div class="col-xs-12  kz_center">
			<h4>Que valores n&oacute;s entregamos ao cliente?</h4>
			<h4>Quais problemas dos nossos clientes estamos ajudando a resolver?</h4>
			<h4>Quais pacotes de produtos e servi&ccedil;os oferecemos a cada Segmento de Cliente?</h4>
			<h4>Quais necessidades dos clientes estamos satisfazendo?</h4>
			<hr />
			<strong>CARACTER&Iacute;STICAS:</strong>
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Novidade</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Performance</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Personaliza&ccedil;&atilde;o</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;"Realizando os Trabalhos"</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Projeto</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Marca/Status</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Pre&ccedil;o</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Redu&ccedil;&atilde;o de Custo</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Redu&ccedil;&atilde;o de Risco</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Acessibilidade</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Conveni&ecirc;ncia/Usabilidade</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 kz_center">
			<br />
			<a ng-href="#/ajuda" class="btn btn-default">
        		<span class="glyphicon glyphicon-chevron-left"></span> Voltar
        	</a>
        </div>
    </div>
</div>