<div class="page-header kz_center">
	<h1>{{ 'AJUDA' | translate }} - {{ 'PROPOSTAS_VALOR' | translate }}</h1>
</div>

<div class="kz_content">
	<div class="row">
		<div class="col-xs-12  kz_center">
			<h4>{{ 'PV_1' | translate }}</h4>
			<h4>{{ 'PV_2' | translate }}</h4>
			<h4>{{ 'PV_3' | translate }}</h4>
			<h4>{{ 'PV_4' | translate }}</h4>
			<hr />
			<strong>{{ 'PV_5' | translate }}</strong>
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'PV_6' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'PV_7' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'PV_8' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'PV_9' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'PV_10' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'PV_11' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'PV_12' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'PV_13' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'PV_14' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'PV_15' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'PV_16' | translate }}</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 kz_center">
			<br />
			<a ng-href="#/ajuda" class="btn btn-default">
        		<span class="glyphicon glyphicon-chevron-left"></span> {{ 'VOLTAR' | translate }}
        	</a>
        </div>
    </div>
</div>