<div class="page-header kz_center">
	<h1>Ajuda - Recursos Chave</h1>
</div>

<div class="kz_content">
	<div class="row">
		<div class="col-xs-12  kz_center">
        	<h4>Quais Recursos Chave nossa Proposta de Valor requer?</h4>
			<h4>Nossos canais de distribui&ccedil;&atilde;o?</h4>
			<h4>Relacionamento com os Clientes?</h4>
			<h4>Fontes de receita?</h4>
			<hr />
			<strong>TIPOS DE RECURSOS:</strong> 
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;F&iacute;sico</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Intelectual (patentes de marcas, direitos autorais, dados)</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Humano</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Financeiro</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 kz_center">
			<br />
			<a ng-href="#/ajuda" class="btn btn-default">
        		<span class="glyphicon glyphicon-chevron-left"></span> Voltar
        	</a>
        </div>
    </div>
</div>