<div class="page-header kz_center">
	<h1>Ajuda - Relacionamento com os Clientes</h1>
</div>

<div class="kz_content">
	<div class="row">
		<div class="col-xs-12  kz_center">
        	<h4>Que tipo de relacionamento temos com cada um de nossos Clientes?</h4>
			<h4>O que os segmentos esperam que possamos estabelecer e manter com eles?</h4>
			<h4>Quais deles n&oacute;s temos estabelecidos?</h4>
			<h4>Como eles est&atilde;o integrados com o restante do nosso modelo de neg&oacute;cio?</h4>
			<h4>Quanto caros eles s&atilde;o?</h4>
			<hr />
			<strong>EXEMPLOS:</strong> 
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Assist&ecirc;ncia pessoal</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Assist&ecirc;ncia Pessoal Dedicada</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Self-Service</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Servi&ccedil;os Automatizados</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Comunidades</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Co-cria&ccedil;&atilde;o</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 kz_center">
			<br />
			<a ng-href="#/ajuda" class="btn btn-default">
        		<span class="glyphicon glyphicon-chevron-left"></span> Voltar
        	</a>
        </div>
    </div>
</div>