<div class="page-header kz_center">
	<h1>{{ 'AJUDA' | translate }} - {{ 'RELACIONAMENTO_CLIENTES' | translate }}</h1>
</div>

<div class="kz_content">
	<div class="row">
		<div class="col-xs-12  kz_center">
        	<h4>{{ 'RCL_1' | translate }}</h4>
			<h4>{{ 'RCL_2' | translate }}</h4>
			<h4>{{ 'RCL_3' | translate }}</h4>
			<h4>{{ 'RCL_4' | translate }}</h4>
			<h4>{{ 'RCL_5' | translate }}</h4>
			<hr />
			<strong>{{ 'RCL_6' | translate }}</strong> 
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'RCL_7' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'RCL_8' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'RCL_9' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'RCL_10' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'RCL_11' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'RCL_12' | translate }}</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 kz_center">
			<br />
			<a ng-href="#/ajuda" class="btn btn-default">
        		<span class="glyphicon glyphicon-chevron-left"></span> {{ 'VOLTAR' | translate }}
        	</a>
        </div>
    </div>
</div>