<div class="page-header kz_center">
	<h1>Ajuda - Segmentos de Clientes</h1>
</div>

<div class="kz_content">
	<div class="row">
		<div class="col-xs-12  kz_center">
        	<h4>Para quem estamos criando valor?</h4>
			<h4>Quem s&atilde;o nossos clientes mais importantes?</h4>
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Mercado de massa</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Nicho de mercado</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Segmentado</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Diversificado</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 kz_center">
			<br />
			<a ng-href="#/ajuda" class="btn btn-default">
        		<span class="glyphicon glyphicon-chevron-left"></span> Voltar
        	</a>
        </div>
    </div>
</div>