<div class="page-header kz_center">
	<h1>{{ 'AJUDA' | translate }} - {{ 'SEGMENTOS_CLIENTES' | translate }}</h1>
</div>

<div class="kz_content">
	<div class="row">
		<div class="col-xs-12  kz_center">
        	<h4>{{ 'SC_1' | translate }}</h4>
			<h4>{{ 'SC_2' | translate }}</h4>
			<ul class="list-unstyled">
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'SC_3' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'SC_4' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'SC_5' | translate }}</li>
				<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;{{ 'SC_6' | translate }}</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 kz_center">
			<br />
			<a ng-href="#/ajuda" class="btn btn-default">
        		<span class="glyphicon glyphicon-chevron-left"></span> {{ 'VOLTAR' | translate }}
        	</a>
        </div>
    </div>
</div>