<div class="page-header kz_center">
	<h1>
		{{projeto.nome}}<br /> <small>{{projeto.descricao}}</small>
	</h1>
</div>
<div class="kz_content">
	<div class="row">

		<!-- Parceiros Chave -->
		<div class="col-xs-12 col-sm-2 kz_border_top" id="parceiros_chave">
			<img ng-src="images/parceiros_chave.png" alt="Parceiros Chave"
				class="kz_img_position" />
			<h5>
				Parceiros<br />Chave
			</h5>
			<a href="" data-toggle="modal" data-target="#adicionarItem" 
				ng-click="modalAdd('pc', 'Adicionar item de Parceiros Chave')">
				Adicionar
			</a>
			&nbsp; 
			<a href="" data-toggle="modal" data-target="#parceirosChave">
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
			
			<div id="sortableParceirosChave">
				<div ng-repeat="item in projeto.itens.pc" class="alert alert-{{item.cor}} kz_mouse_cursor">
					<p style="text-align : right;">
						<a href="" data-toggle="modal" data-target="#editarItem" alt="Editar" title="Editar"
							ng-click="modalEdit('pc', 'Editar item de Parceiros Chave', $index)">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
      					&nbsp;&nbsp;
      					<a href="" alt="Remover" title="Remover" onclick="alert('remover...');">
      						<span class="glyphicon glyphicon-remove"></span>
      					</a>
      				</p>
      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
    			</div>
    		</div>
		</div>

		<div class="col-xs-12 col-sm-3">
			<div class="row">

				<!-- Atividades Chave -->
				<div class="col-xs-12 kz_border_top kz_border_right kz_border_left"
					id="atividades_chave">
					<img ng-src="images/atividades_chave.png" alt="Atividades Chave"
						class="kz_img_position" />
					<h5>
						Atividades<br />Chave
					</h5>
					<a href="" data-toggle="modal" data-target="#adicionarItem" 
						ng-click="modalAdd('ac', 'Adicionar item de Atividades Chave')">
						Adicionar
					</a>
					&nbsp; 
					<a href="" data-toggle="modal" data-target="#atividadesChave"> 
						<span class="glyphicon glyphicon-info-sign"></span>
					</a>
					
					<div id="sortableParceirosChave">
						<div ng-repeat="item in projeto.itens.ac" class="alert alert-{{item.cor}} kz_mouse_cursor">
							<p style="text-align : right;">
								<a href="" data-toggle="modal" data-target="#editarItem" alt="Editar" title="Editar"
									ng-click="modalEdit('ac', 'Adicionar item de Atividades Chave', $index)">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
		      					&nbsp;&nbsp;
		      					<a href="" alt="Remover" title="Remover" onclick="alert('remover...');">
		      						<span class="glyphicon glyphicon-remove"></span>
		      					</a>
		      				</p>
		      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
		    			</div>
		    		</div>
				</div>

				<!-- Recursos Chave -->
				<div class="col-xs-12 kz_border_top kz_border_right kz_border_left"
					id="recursos_chave">
					<img ng-src="images/recursos_chave.png" alt="Recursos Chave"
						class="kz_img_position" />
					<h5>
						Recursos<br />Chave
					</h5>
					<a href="" data-toggle="modal" data-target="#adicionarItem" 
						ng-click="modalAdd('rc', 'Adicionar item de Recursos Chave')">
						Adicionar
					</a> 
					&nbsp; 
					<a href="" data-toggle="modal" data-target="#recursosChave"> 
						<span class="glyphicon glyphicon-info-sign"></span>
					</a>
					
					<div id="sortableParceirosChave">
						<div ng-repeat="item in projeto.itens.rc" class="alert alert-{{item.cor}} kz_mouse_cursor">
							<p style="text-align : right;">
								<a href="" data-toggle="modal" data-target="#editarItem" alt="Editar" title="Editar"
									ng-click="modalEdit('rc', 'Adicionar item de Recursos Chave', $index)">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
		      					&nbsp;&nbsp;
		      					<a href="" alt="Remover" title="Remover" onclick="alert('remover...');">
		      						<span class="glyphicon glyphicon-remove"></span>
		      					</a>
		      				</p>
		      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
		    			</div>
		    		</div>
				</div>

			</div>
		</div>

		<!-- Propostas de Valor -->
		<div class="col-xs-12 col-sm-2 kz_border_top" id="propostas_valor">
			<img ng-src="images/propostas_valor.png" alt="Propostas de Valor"
				class="kz_img_position" />
			<h5>
				Propostas<br />de Valor
			</h5>
			<a href="" data-toggle="modal" data-target="#adicionarItem" 
				ng-click="modalAdd('pv', 'Adicionar item de Propostas de Valor')">
				Adicionar
			</a> 
			&nbsp; 
			<a href="" data-toggle="modal" data-target="#propostasValor"> 
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
			
			<div id="sortableParceirosChave">
				<div ng-repeat="item in projeto.itens.pv" class="alert alert-{{item.cor}} kz_mouse_cursor">
					<p style="text-align : right;">
						<a href="" data-toggle="modal" data-target="#editarItem" alt="Editar" title="Editar"
							ng-click="modalEdit('pv', 'Adicionar item de Propostas de Valor', $index)">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
      					&nbsp;&nbsp;
      					<a href="" alt="Remover" title="Remover" onclick="alert('remover...');">
      						<span class="glyphicon glyphicon-remove"></span>
      					</a>
      				</p>
      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
    			</div>
    		</div>
		</div>

		<div class="col-xs-12 col-sm-3">
			<div class="row">

				<!-- Relacionamento com os Clientes -->
				<div class="col-xs-12 kz_border_top kz_border_right kz_border_left"
					id="relacionamento_clientes">
					<img ng-src="images/relacionamento_clientes.png"
						alt="Relacionamento com os Clientes" class="kz_img_position" />
					<h5>
						Relacionamento<br />com os Clientes
					</h5>
					<a href="" data-toggle="modal" data-target="#adicionarItem" 
						ng-click="modalAdd('rcl', 'Adicionar item de Relacionamento com os Clientes')">
						Adicionar
					</a>
					&nbsp;
					<a href="" data-toggle="modal" data-target="#relacionamentoClientes"> 
						<span class="glyphicon glyphicon-info-sign"></span>
					</a>
					
					<div id="sortableParceirosChave">
						<div ng-repeat="item in projeto.itens.rcl" class="alert alert-{{item.cor}} kz_mouse_cursor">
							<p style="text-align : right;">
								<a href="" data-toggle="modal" data-target="#editarItem" alt="Editar" title="Editar"
									ng-click="modalEdit('rcl', 'Adicionar item de Relacionamento com os Clientes', $index)">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
		      					&nbsp;&nbsp;
		      					<a href="" alt="Remover" title="Remover" onclick="alert('remover...');">
		      						<span class="glyphicon glyphicon-remove"></span>
		      					</a>
		      				</p>
		      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
		    			</div>
    				</div>
				</div>

				<!-- Canais -->
				<div class="col-xs-12 kz_border_top kz_border_right kz_border_left"
					id="canais_div">
					<img ng-src="images/canais.png" alt="Canais" class="kz_img_position" />
					<h5>Canais</h5>
					<a href="" data-toggle="modal" data-target="#adicionarItem" 
						ng-click="modalAdd('ca', 'Adicionar item de Canais')">
						Adicionar
					</a> 
					&nbsp; 
					<a href="" data-toggle="modal" data-target="#canais"> 
						<span class="glyphicon glyphicon-info-sign"></span>
					</a>
					
					<div id="sortableParceirosChave">
						<div ng-repeat="item in projeto.itens.ca" class="alert alert-{{item.cor}} kz_mouse_cursor">
							<p style="text-align : right;">
								<a href="" data-toggle="modal" data-target="#editarItem" alt="Editar" title="Editar"
									ng-click="modalEdit('ca', 'Adicionar item de Canais', $index)">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
		      					&nbsp;&nbsp;
		      					<a href="" alt="Remover" title="Remover" onclick="alert('remover...');">
		      						<span class="glyphicon glyphicon-remove"></span>
		      					</a>
		      				</p>
		      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
		    			</div>
		    		</div>
				</div>

			</div>
		</div>

		<!-- Segmentos de Clientes -->
		<div class="col-xs-12 col-sm-2 kz_border_top" id="segmentos_clientes">
			<img ng-src="images/segmentos_clientes.png"
				alt="Segmentos de Clientes" class="kz_img_position" />
			<h5>
				Segmentos<br />de Clientes
			</h5>
			<a href="" data-toggle="modal" data-target="#adicionarItem" 
				ng-click="modalAdd('sc', 'Adicionar item de Segmentos de Clientes')">
				Adicionar
			</a> 
			&nbsp; 
			<a href="" data-toggle="modal" data-target="#segmentosClientes"> 
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
			
			<div id="sortableParceirosChave">
				<div ng-repeat="item in projeto.itens.sc" class="alert alert-{{item.cor}} kz_mouse_cursor">
					<p style="text-align : right;">
						<a href="" data-toggle="modal" data-target="#editarItem" alt="Editar" title="Editar"
							ng-click="modalEdit('sc', 'Adicionar item de Segmentos de Clientes', $index)">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
      					&nbsp;&nbsp;
      					<a href="" alt="Remover" title="Remover" onclick="alert('remover...');">
      						<span class="glyphicon glyphicon-remove"></span>
      					</a>
      				</p>
      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
    			</div>
    		</div>
		</div>

	</div>

	<div class="row">

		<!-- Estrutura de Custo -->
		<div class="col-xs-12 col-sm-6 kz_border_top kz_border_right" id="estrutura_custo">
			<img ng-src="images/estrutura_custo.png" alt="Estrutura de Custo"
				class="kz_img_position" />
			<h5>Estrutura de Custo</h5>
			<a href="" data-toggle="modal" data-target="#adicionarItem" 
				ng-click="modalAdd('ec', 'Adicionar item de Estrutura de Custo')">
				Adicionar
			</a>
			&nbsp; 
			<a href="" data-toggle="modal" data-target="#estruturaCusto"> 
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
			
			<div id="sortableParceirosChave">
				<div ng-repeat="item in projeto.itens.ec" class="alert alert-{{item.cor}} kz_mouse_cursor">
					<p style="text-align : right;">
						<a href="" data-toggle="modal" data-target="#editarItem" alt="Editar" title="Editar"
							ng-click="modalEdit('ec', 'Adicionar item de Estrutura de Custo', $index)">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
      					&nbsp;&nbsp;
      					<a href="" alt="Remover" title="Remover" onclick="alert('remover...');">
      						<span class="glyphicon glyphicon-remove"></span>
      					</a>
      				</p>
      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
    			</div>
    		</div>
		</div>

		<!-- Fluxo de Receita -->
		<div class="col-xs-12 col-sm-6 kz_border_top" id="fluxo_receita">
			<img ng-src="images/fluxo_receita.png" alt="Fluxo de Receita" class="kz_img_position" />
			<h5>Fluxo de Receita</h5>
			<a href="" data-toggle="modal" data-target="#adicionarItem" 
				ng-click="modalAdd('fr', 'Adicionar item de Fluxo de Receita')">
				Adicionar
			</a> 
			&nbsp; 
			<a href="" data-toggle="modal" data-target="#fluxoReceita"> 
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
			
			<div id="sortableParceirosChave">
				<div ng-repeat="item in projeto.itens.fr" class="alert alert-{{item.cor}} kz_mouse_cursor">
					<p style="text-align : right;">
						<a href="" data-toggle="modal" data-target="#editarItem" alt="Editar" title="Editar"
							ng-click="modalEdit('fr', 'Adicionar item de Fluxo de Receita', $index)">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
      					&nbsp;&nbsp;
      					<a href="" alt="Remover" title="Remover" onclick="alert('remover...');">
      						<span class="glyphicon glyphicon-remove"></span>
      					</a>
      				</p>
      				<strong>{{item.titulo}}</strong><br />{{item.descricao}}
    			</div>
    		</div>
		</div>

	</div>
</div>

<!-- Parceiros Chave Modal -->
<div class="modal fade" id="parceirosChave" tabindex="-1" role="dialog"
	aria-labelledby="parceirosChaveLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="parceirosChaveLabel">
					<img src="images/parceiros_chave.png" alt="Parceiros Chave"
						class="kz_img_position" /> Parceiros Chave
				</h4>
			</div>
			<div class="modal-body">
				<h5>Quem são os nossos Parceiros Chave?</h5>
				<h5>Quem são os nossos Fornecedores Chave?</h5>
				<h5>Quais Recursos Chave estamos adquirindo de parceiros?</h5>
				<h5>Quais Atividades Chave os parceiros realizam?</h5>
				<strong>MOTIVAÇÕES PARA PARCERIAS:</strong>
				<ul class="list-unstyled">
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Otimização e economia
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Redução de risco e incerteza
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Aquisição de recursos particulares e atividades
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<!-- Atividades Chave Modal -->
<div class="modal fade" id="atividadesChave" tabindex="-1" role="dialog"
	aria-labelledby="atividadesChaveLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="atividadesChaveLabel">
					<img src="images/atividades_chave.png" alt="Atividades Chave"
						class="kz_img_position" /> Atividades Chave
				</h4>
			</div>
			<div class="modal-body">
				<h5>Quais Atividades Chave nossa Proposta de Valor exige?</h5>
				<h5>Nossos Canais de Distribuição?</h5>
				<h5>Relacionamento com o Cliente?</h5>
				<h5>Fontes de receita?</h5>
				<strong>CATEGORIAS:</strong>
				<ul class="list-unstyled">
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Produção
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Resolução de Problemas
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Plataforma / Rede
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<!-- Recursos Chave Modal -->
<div class="modal fade" id="recursosChave" tabindex="-1" role="dialog"
	aria-labelledby="recursosChaveLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="recursosChaveLabel">
					<img src="images/recursos_chave.png" alt="Recursos Chave"
						class="kz_img_position" /> Recursos Chave
				</h4>
			</div>
			<div class="modal-body">
				<h5>Quais Recursos Chave nossa Proposta de Valor requer?</h5>
				<h5>Nossos canais de distribuição?</h5>
				<h5>Relacionamento com os Clientes?</h5>
				<h5>Fontes de receita?</h5>
				<strong>TIPOS DE RECURSOS:</strong>
				<ul class="list-unstyled">
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Físico
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Intelectual (patentes de marcas, direitos autorais, dados)
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Humano
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Financeiro
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<!-- Propostas de Valor Modal -->
<div class="modal fade" id="propostasValor" tabindex="-1" role="dialog"
	aria-labelledby="propostasValorLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="propostasValorLabel">
					<img src="images/propostas_valor.png" alt="Propostas de Valor"
						class="kz_img_position" /> Propostas de Valor
				</h4>
			</div>
			<div class="modal-body">
				<h5>Que valores nós entregamos ao cliente?</h5>
				<h5>Quais problemas dos nossos clientes estamos ajudando a
					resolver?</h5>
				<h5>Quais pacotes de produtos e serviços oferecemos a cada
					Segmento de Cliente?</h5>
				<h5>Quais necessidades dos clientes estamos satisfazendo?</h5>
				<strong>CARACTERÍSTICAS:</strong>
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Novidade</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Performance</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Personalização</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						"Realizando os Trabalhos"
					</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Projeto</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Marca/Status</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Preço</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Redução de Custo
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Redução de Risco
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Acessibilidade
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Conveniência/Usabilidade
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<!-- Relacionamento com os Clientes Modal -->
<div class="modal fade" id="relacionamentoClientes" tabindex="-1"
	role="dialog" aria-labelledby="relacionamentoClientesLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="relacionamentoClientesLabel">
					<img src="images/relacionamento_clientes.png"
						alt="Relacionamento com os Clientes" class="kz_img_position" />
					Relacionamento com os Clientes
				</h4>
			</div>
			<div class="modal-body">
				<h5>Que tipo de relacionamento temos com cada um de nossos Clientes?</h5>
				<h5>O que os segmentos esperam que possamos estabelecer e manter com eles?</h5>
				<h5>Quais deles nós temos estabelecidos?</h5>
				<h5>Como eles estão integrados com o restante do nosso modelo de negócio?</h5>
				<h5>Quanto caros eles são?</h5>
				<strong>EXEMPLOS:</strong>
				<ul class="list-unstyled">
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Assistência pessoal
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Assistência Pessoal Dedicada
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Self-Service
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Serviços Automatizados
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Comunidades
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Co-criação
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<!-- Canais Modal -->
<div class="modal fade" id="canais" tabindex="-1" role="dialog"
	aria-labelledby="canaisLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="canaisLabel">
					<img src="images/canais.png" alt="Canais" class="kz_img_position" />
					Canais
				</h4>
			</div>
			<div class="modal-body">
				<h5>Através de quais canais de nossos Segmentos de Clientes gostaríamos de atingir?</h5>
				<h5>Como podemos alcançá-los agora?</h5>
				<h5>Como os nossos Canais estão integrados?</h5>
				<h5>Quais funcionam melhor?</h5>
				<h5>Quais tem melhor custo-benefício?</h5>
				<h5>Como estamos integrando-os às rotinas do cliente?</h5>
				</strong>FASES DO CANAL:</strong>
				<ol>
					<li>Conscientização</li>
					<ul class="list-unstyled">
						<li>
							<small>
								Como podemos aumentar a conscientização sobre os nossos produtos e serviços?
							</small>
						</li>
					</ul>

					<li>Avaliação</li>
					<ul class="list-unstyled">
						<li>
							<small>
								Como podemos ajudar os clientes a avaliar a Proposta de Valor da nossa organização?
							</small>
						</li>
					</ul>
					<li>Compra</li>
					<ul class="list-unstyled">
						<li>
							<small>
								Como podemos permitir que os clientes comprem produtos e serviços específicos?
							</small>
						</li>
					</ul>
					<li>Entrega</li>
					<ul class="list-unstyled">
						<li>
							<small>
								Como entregaremos uma Proposta de Valor para nossos clientes?
							</small>
						</li>
					</ul>
					<li>Pós-venda</li>
					<ul class="list-unstyled">
						<li>
							<small>
								Como podemos oferecer suporte pós-venda aos nossos clientes?
							</small>
						</li>
					</ul>
				</ol>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<!-- Segmento de Clientes Modal -->
<div class="modal fade" id="segmentosClientes" tabindex="-1"
	role="dialog" aria-labelledby="segmentosClientesLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="segmentosClientesLabel">
					<img src="images/segmentos_clientes.png" alt="Segmentos de Clientes" 
						class="kz_img_position" /> 
					Segmentos de Clientes
				</h4>
			</div>
			<div class="modal-body">
				<h5>Para quem estamos criando valor?</h5>
				<h5>Quem são nossos clientes mais importantes?</h5>
				<ul class="list-unstyled">
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Mercado de massa
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Nicho de mercado
					</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Segmentado</li>
					<li><span class="glyphicon glyphicon-star-empty"></span>&nbsp;Diversificado</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<!-- Estrutura de Custo Modal -->
<div class="modal fade" id="estruturaCusto" tabindex="-1" role="dialog"
	aria-labelledby="estruturaCustoLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="estruturaCustoLabel">
					<img src="images/estrutura_custo.png" alt="Estrutura de Custo"
						class="kz_img_position" /> 
					Estrutura de Custo
				</h4>
			</div>
			<div class="modal-body">
				<h5>Quais são os custos mais importantes inerentes ao nosso modelo de negócio?</h5>
				<h5>Quais são os Recursos Chave mais caros?</h5>
				<h5>Quais são as Atividades Chave mais caras?</h5>
				<strong>SEU NEGÓCIO É MAIS:</strong>
				<ul class="list-unstyled">
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Guiado por Custos (estrutura de custo mais enxuta, proposta de valor de
						baixo preço, máxima automação, terceirização extensiva)
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Guiado por Valor (focada na criação de valor, proposta de valor premium)
					</li>
				</ul>
				<strong>EXEMPLOS DE CARACTERÍSTICAS:</strong>
				<ul class="list-unstyled">
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Custos Fixos (salários, aluguéis, serviços públicos)
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Custos Variáveis
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Economias de escala
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Economias de escopo
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<!-- Fluxo de Receita Modal -->
<div class="modal fade" id="fluxoReceita" tabindex="-1" role="dialog"
	aria-labelledby="fluxoReceitaLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="fluxoReceitaLabel">
					<img src="images/fluxo_receita.png" alt="Fluxo de Receita"
						class="kz_img_position" /> 
					Fluxo de Receita
				</h4>
			</div>
			<div class="modal-body">
				<h5>Por quais valores nossos clientes estão realmente interessados em pagar?</h5>
				<h5>Por quais eles pagam atualmente?</h5>
				<h5>Como eles estão pagando atualmente?</h5>
				<h5>Como eles gostariam de pagar?</h5>
				<h5>Como cada fluxo de receita contribui para a receita global?</h5>
				<strong>TIPOS:</strong>
				<ul class="list-unstyled">
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Venda de ativos
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Taxa de utilização
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Taxas de inscrição
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Empréstimos / Aluguel / Arrendamento
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Licenciamento
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Taxas de corretagem
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Publicidade
					</li>
				</ul>
				<strong>PREÇOS FIXOS:</strong>
				<ul class="list-unstyled">
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Preço de tabela
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Produtos dependentes
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Segmentos de Clientes dependentes
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Volumes dependentes
					</li>
				</ul>
				<strong>PRECIFICAÇÃO DINÂMICA:</strong>
				<ul class="list-unstyled">
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Negociação (barganha)
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Gestão de Rendimentos
					</li>
					<li>
						<span class="glyphicon glyphicon-star-empty"></span>&nbsp;
						Mercado em Tempo Real
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>

<!-- Inserir novo item -->
<div class="modal fade" id="adicionarItem" tabindex="-1" role="dialog" 
	aria-labelledby="adicionarItemLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
      			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="adicionarItemLabel">
        			{{descricao}}
        		</h4>
      		</div>
      		<div class="modal-body">
        		<form role="form" name="form" novalidate>
        			<div class="form-group">
    					<label for="titulo">Título</label>
    					<input type="text" class="form-control" id="titulo" name="titulo" 
    						ng-model="item.titulo" required />
  					</div>
  					<div class="form-group">
    					<label for="descricao">Descrição</label>
    					<textarea class="form-control" id="descricao" name="descricao" 
    						rows="4" ng-model="item.descricao" required></textarea>
  					</div>
  					<div class="form-group">
  						<strong>Cor</strong>
  						<br />
  						<label class="radio-inline">
    						<input type="radio" name="cor" id="corWarning" value="warning" ng-model="item.cor" required />
							<span class="label label-warning">&nbsp;&nbsp;&nbsp;</span>									
  						</label>
  						<label class="radio-inline">
    						<input type="radio" name="cor" id="corSuccess" value="success" ng-model="item.cor" />
							<span class="label label-success">&nbsp;&nbsp;&nbsp;</span>									
  						</label>
  						<label class="radio-inline">
    						<input type="radio" name="cor" id="corInfo" value="info" ng-model="item.cor" />
							<span class="label label-info">&nbsp;&nbsp;&nbsp;</span>									
  						</label>
  						<label class="radio-inline">
    						<input type="radio" name="cor" id="corDanger" value="danger" ng-model="item.cor" />
							<span class="label label-danger">&nbsp;&nbsp;&nbsp;</span>
  						</label>
  					</div>
        		</form>
      		</div>
      		<div class="modal-footer">
      			<button type="button" class="btn btn-primary" data-dismiss="modal" 
      				ng-click="cadastrar(item)" ng-disabled="form.$invalid">
      				Adicionar
      			</button>
     			<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      		</div>
    	</div>
  	</div>
</div>

<!-- Editar item -->
<div class="modal fade" id="editarItem" tabindex="-1" role="dialog" 
	aria-labelledby="adicionarItemLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
      			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="adicionarItemLabel">
        			{{descricao}}
        		</h4>
      		</div>
      		<div class="modal-body">
        		<form role="form" name="formEdit" novalidate>
        			<div class="form-group">
    					<label for="tituloEdit">Título</label>
    					<input type="text" class="form-control" id="tituloEdit" name="tituloEdit" 
    						ng-model="itemEdit.titulo" required />
  					</div>
  					<div class="form-group">
    					<label for="descricaoEdit">Descrição</label>
    					<textarea class="form-control" id="descricaoEdit" name="descricaoEdit" 
    						rows="4" ng-model="itemEdit.descricao" required></textarea>
  					</div>
  					<div class="form-group">
  						<strong>Cor</strong>
  						<br />
  						<label class="radio-inline">
    						<input type="radio" name="corEdit" id="corEditWarning" value="warning" ng-model="itemEdit.cor" required />
							<span class="label label-warning">&nbsp;&nbsp;&nbsp;</span>									
  						</label>
  						<label class="radio-inline">
    						<input type="radio" name="corEdit" id="corEditSuccess" value="success" ng-model="itemEdit.cor" />
							<span class="label label-success">&nbsp;&nbsp;&nbsp;</span>									
  						</label>
  						<label class="radio-inline">
    						<input type="radio" name="corEdit" id="corEditInfo" value="info" ng-model="itemEdit.cor" />
							<span class="label label-info">&nbsp;&nbsp;&nbsp;</span>									
  						</label>
  						<label class="radio-inline">
    						<input type="radio" name="corEdit" id="corEditDanger" value="danger" ng-model="itemEdit.cor" />
							<span class="label label-danger">&nbsp;&nbsp;&nbsp;</span>
  						</label>
  					</div>
        		</form>
      		</div>
      		<div class="modal-footer">
      			<button type="button" class="btn btn-primary" data-dismiss="modal" 
      				ng-click="atualizar(itemEdit)" ng-disabled="formEdit.$invalid">
      				Atualizar
      			</button>
     			<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      		</div>
    	</div>
  	</div>
</div>