<div class="page-header kz_center">
  	<h1>Canvas de Modelo de Negócios</h1>
</div>
<div class="kz_content">
	<div class="row">
		<div class="col-xs-12 kz_center">
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" 
				data-target="#criarCanvas" ng-click="reset(canvas)">
				Criar Novo Canvas
			</button>
		</div>
	</div>
	<br />
	<div class="table-responsive" ng-show="projetos.length>0">
  		<table class="table table-striped table-hover">
    		<thead>
    			<tr>
    				<th>Meus Canvas de Modelo de Negócios</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat="projeto in projetos">
    				<td class="kz_mouse_cursor">
    					<a ng-href="/#/canvas/{{$index}}">
    						{{projeto.nome}}<br />
    						<small><em>{{projeto.descricao}}</em></small>
    					</a>
    				</td>
    				<td class="kz_mouse_cursor">
    					<a href="" data-toggle="modal" data-target="#editarCanvas" alt="Editar" title="Editar"
							ng-click="modalLoadData($index)">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
      					&nbsp;&nbsp;
      					<a href="" alt="Remover" title="Remover" data-toggle="modal" data-target="#removerCanvas"
      						ng-click="modalLoadData($index)">
      						<span class="glyphicon glyphicon-remove"></span>
      					</a>
    				</td>
    			</tr>
    		</tbody>
  		</table>
	</div>
			
	<br />
  	<div class="row" ng-show="projetos.length<1">
		<div class="col-xs-12 kz_center">
			<p>Nenhum Canvas criado, clique no botão acima para criar um agora mesmo.</p>
		</div>
	</div>
</div>
	
<!-- Criar novo canvas -->
<div class="modal fade" id="criarCanvas" tabindex="-1" role="dialog" aria-labelledby="criarCanvasLabel" aria-hidden="true">
	<div class="modal-dialog">
  		<div class="modal-content">
     		<div class="modal-header">
      			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="criarCanvasLabel">
        			Criar Novo Canvas
       			</h4>
      		</div>
      		<div class="modal-body">
      				
       			<form role="form" name="form" novalidate>
        			<div class="form-group">
    					<label for="nome" class="control-label">Nome do Projeto</label>
    					<input type="text" class="form-control" id="nome" name="nome" 
    						maxlength="50" ng-model="canvas.nome" 
    						placeholder="Digite o nome do projeto..." required />
  					</div>
  					<div class="form-group">
    					<label for="descricao" class="control-label">Breve Descrição</label>
    					<input type="text" class="form-control" id="descricao" name="descricao" 
    						maxlength="50" ng-model="canvas.descricao" 
    						placeholder="Digite uma breve descrição do projeto..." required />
  					</div>
        		</form>
      		</div>
      		<div class="modal-footer">
      			<button type="button" class="btn btn-primary" data-dismiss="modal" 
      				ng-click="cadastrar(canvas)" ng-disabled="form.$invalid">
      				Criar
      			</button>
        		<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      		</div>
    	</div>
  	</div>
</div>

<!-- Editar dados canvas -->
<div class="modal fade" id="editarCanvas" tabindex="-1" role="dialog" aria-labelledby="editarCanvasLabel" aria-hidden="true">
	<div class="modal-dialog">
  		<div class="modal-content">
     		<div class="modal-header">
      			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="editarCanvasLabel">
        			Editar Canvas
       			</h4>
      		</div>
      		<div class="modal-body">
      				
       			<form role="form" name="formEditar" novalidate>
        			<div class="form-group">
    					<label for="nomeEditar" class="control-label">Nome do Projeto</label>
    					<input type="text" class="form-control" id="nomeEditar" name="nomeEditar" 
    						maxlength="50" ng-model="canvasEditar.nome" required />
  					</div>
  					<div class="form-group">
    					<label for="descricaoEditar" class="control-label">Breve Descrição</label>
    					<input type="text" class="form-control" id="descricaoEditar" name="descricaoEditar" 
    						maxlength="50" ng-model="canvasEditar.descricao" required />
  					</div>
        		</form>
      		</div>
      		<div class="modal-footer">
      			<button type="button" class="btn btn-primary" data-dismiss="modal" 
      				ng-click="atualizar(canvasEditar)" ng-disabled="formEditar.$invalid">
      				Atualizar
      			</button>
        		<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      		</div>
    	</div>
  	</div>
</div>

<!-- remover canvas -->
<div class="modal fade" id="removerCanvas" tabindex="-1" role="dialog" aria-labelledby="removerCanvasLabel" aria-hidden="true">
	<div class="modal-dialog">
  		<div class="modal-content">
     		<div class="modal-header">
      			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="removerCanvasLabel">
        			Remover Canvas
       			</h4>
      		</div>
      		<div class="modal-body">
      				
       			<form role="form" name="formRemover" novalidate>
        			<div class="form-group">
    					<label for="nomeRemover" class="control-label">Nome do Projeto</label>
    					<input type="text" class="form-control" id="nomeRemover" name="nomeRemover" 
    						maxlength="50" ng-model="canvasEditar.nome" readonly="readonly" />
  					</div>
  					<div class="form-group">
    					<label for="descricaoRemover" class="control-label">Breve Descrição</label>
    					<input type="text" class="form-control" id="descricaoRemover" name="descricaoRemover" 
    						maxlength="50" ng-model="canvasEditar.descricao" readonly="readonly" />
  					</div>
        		</form>
      		</div>
      		<div class="modal-footer">
      			<button type="button" class="btn btn-primary" data-dismiss="modal" 
      				ng-click="remover()">
      				Remover
      			</button>
        		<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      		</div>
    	</div>
  	</div>
</div>